<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div id="app">
		
		<div>	
			<h1>{{ message }}</h1>
		</div>
		<hr>
		<div id="selecao-mesa">
			<span>Escolher a mesa: 
				<select name="mesas" id="mesas">
					<option v-for="mesas in numMesa">{{ mesas }}</option>
				</select>
			</span>
		</div>
		<div id="mostra-mesa">
			<div>
				<p>Produtos</p>
				<ul>
					<li v-for="mesa in mesas.idMesa.consumos">{{ mesa.nome }}</li>
				</ul>
			</div>
			<div>
				<p>Quantidade</p>
				<ul>
					<li v-for="mesa in mesas.idMesa.consumos">{{ mesa.quantidade }}</li>
				</ul>
			</div>
			<div>
				<p>Valor unitário</p>
				<ul>
					<li v-for="mesa in mesas.idMesa.consumos">{{ mesa.valor }}</li>
				</ul>
			</div>
			<div>
				<p>Total</p>
					<input type="number" readonly v-model="Mesa">
			</div>
		</div>


	</div>


	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script>
		
		let app = new Vue({

			el: '#app',
			data: {
				message: 'Acompanhamento de mesas',
				numMesa: ['01', '02', '03'],
				mesas: {
					idMesa: {
						consumos: [
				       		{
				        		nome: 'suco',
				          		quantidade: 1,
				          		valor: 5.50
				        	},
				        	{
				          		nome: 'coca',
				          		quantidade: 1,
				          		valor: 3.00
				        	},
				        	{
				          		nome: 'feijoada',
				          		quantidade: 2,
				          		valor: 12.00
				        	}
				      	]
				    }
				},
				mesaSelecionada: 'idDaMesa'
			},

			computed: {
				Mesa() {
					let valor1 = this.mesas.idMesa.consumos[0].valor;
					let valor2 = this.mesas.idMesa.consumos[1].valor; 
					let valor3 = this.mesas.idMesa.consumos[2].valor;

					let quant1 = this.mesas.idMesa.consumos[0].quantidade;
					let quant2 = this.mesas.idMesa.consumos[1].quantidade;
					let quant3 = this.mesas.idMesa.consumos[2].quantidade;

					let total1 = valor1 * quant1;
					let total2 = valor2 * quant2;
					let total3 = valor3 * quant3;

					let totais = total1 + total2 + total3;

			    	return totais;
			  	},
			}
					
		})
	

	</script>
	
</body>
</html>
