<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<style>
		body{margin: 0;padding: 0;max-width: 100%;}
		h1{text-align: center;}
		*:focus{outline: none;}
		select{width: 150px;height: 35px;border-radius: 4px;background-color: #fff;cursor: pointer;}
		.mesa{width: 100%;display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-between;align-items: baseline;}
		.mesa-content{width: 25%;}
		p{background-color: #000;color: #fff;padding: 20px;line-height: 35px;}		
		ul li{list-style: none;line-height: 35px;} 
		input[type=checkbox]{width: 17px;height: 17px;}
		input[type="checkbox"]:checked:before{background-color: red;}
		input[type=number]{width: 60px;height: 25px;border: 1px solid #fff; border-radius: 2px}

	</style>

	<div id="app">
		
		<div>	
			<h1>{{ tituloApp }}</h1>
		</div>
		<hr>
		<div id="selecao-mesa">

			<h3>{{ escolhaMesa }}
				<select name="select" id="select" v-model="numMesa">
					<option v-for="opcao in opcoes">{{ opcao }}</option>
				</select>
			</h3>

		</div>
		<div id="mostra-mesa">

			<mesa1 v-if="numMesa == 1"></mesa1>
			<mesa2 v-if="numMesa == 2"></mesa2>
			<mesa3 v-if="numMesa == 3"></mesa3>

		</div>

	</div>


	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script>
		
		let produtos = 'Produtos';
		let quantidade = 'Quantidade';
		let vlrUnit = 'Valor unitário';
		let vlrParcial = 'Valor Parcial'
		let desconto = 'Valor de desconto'
		let vlrTotal = 'Valor Total';
		let numMesa = '';
		let mostrarTotal = 'Descontar valor separadamente';

		let mesa1 = {
			consumo: [
				{
					nome: 'suco maracujá',
					quant: 1,
					valor: 5.50
				},
				{
					nome: 'guaraná coca-cola',
					quant: 1,
					valor: 3.00
				},
				{
					nome: 'feijoada',
					quant: 2,
					valor: 12.00
				}
			],
			numMesa: 1,
			total: 0,
			mostrar: false
		};

		let mesa2 = {
			consumo: [
				{
					nome: 'água',
					quant: 2,
					valor: 2.50
				},
				{
					nome: 'guaraná fanta-uva',
					quant: 2,
					valor: 3.00
				},
				{
					nome: 'porção de frios',
					quant: 2,
					valor: 23.50
				}
			],
			numMesa: 2,
			total: 0
		};

		let mesa3 = {
			consumo: [
				{
				    nome: 'cerveja brahma',
				   	quant: 2,
				    valor: 2.50
				},
				{
				    nome: 'fanta',
				    quant: 2,
				    valor: 3.00
				},
				{
				    nome: 'pizza mussarela',
				    quant: 1,
				    valor: 23.50
				}
			],
			numMesa: 3,
			total: 0
		}

        Vue.component('mesa1',{
        	template: 	`<div class="mesa">
        					<div class="mesa-content"><p>{{ produtos }}</p><ul><li v-for="nomes in mesa1.consumo">{{ nomes.nome }}</li></ul></div>
							<div class="mesa-content"><p>{{ quantidade }}</p><ul><li v-for="quantidades in mesa1.consumo">{{ quantidades.quant }}</li></ul></div>
							<div class="mesa-content"><p>{{ vlrUnit }}</p><ul><li v-for="valores in mesa1.consumo">{{ valores.valor.toFixed(2) }}</li></ul></div>
							<div class="mesa-content"><p>{{ vlrParcial }}</p><p>{{ valor_Parcial }}</p>
							<p><input type="checkbox" id="check" v-model="mostrar"><label for="check" v-model="mostrar"> &nbsp; {{ mostrarTotal }}</label></p>
							<p v-if="mostrar">{{ desconto }} &nbsp; <input v-model.number="total" @keyup="total" @focus="selecao"></p>
							<p v-if="mostrar">{{ vlrTotal }} &nbsp; {{ valor_Parcial - total }}</p><div>
						</div>`,
			
			data: () => {
				return mesa1;
			},

			computed: {
				valor_Parcial: () => {
					let valor1 = mesa1.consumo[0].valor;
					let valor2 = mesa1.consumo[1].valor; 
					let valor3 = mesa1.consumo[2].valor;

					let quant1 = mesa1.consumo[0].quant;
					let quant2 = mesa1.consumo[1].quant;
					let quant3 = mesa1.consumo[2].quant;

					let total1 = valor1 * quant1;
					let total2 = valor2 * quant2;
					let total3 = valor3 * quant3;

					let valorTotal= (total1 + total2 + total3).toFixed(2);

			    	return valorTotal ;
			  	}
			},

			 methods: {
    			selecao: function(event) {
      				setTimeout(function() {
        				event.target.select()
      				}, 0)
    			}
  			}

        })

        Vue.component('mesa2',{
        	template: 	`<div><p>{{ produtos }}</p><ul><li v-for="nomes in mesa2.consumo">{{ nomes.nome }}</li></ul>
							<p>{{ quantidade }}</p><ul><li v-for="quantidades in mesa2.consumo">{{ quantidades.quant }}</li></ul>
							<p>{{ vlrUnit }}</p><ul><li v-for="valores in mesa2.consumo">{{ valores.valor }}</li></ul>
							<p>{{ vlrParcial }}:<input type="number" v-model="vlrParcialConta"></p>
							<p>{{ vlrTotal }}:<input type="number" readonly v-model="vlrConta"></p><hr />
						</div>`,
			
			data: () => {
				return mesa2;
			},

			computed: {
				vlrConta: () => {
					let valor1 = mesa2.consumo[0].valor;
					let valor2 = mesa2.consumo[1].valor; 
					let valor3 = mesa2.consumo[2].valor;

					let quant1 = mesa2.consumo[0].quant;
					let quant2 = mesa2.consumo[1].quant;
					let quant3 = mesa2.consumo[2].quant;

					let total1 = valor1 * quant1;
					let total2 = valor2 * quant2;
					let total3 = valor3 * quant3;

					let valorTotal = total1 + total2 + total3;

			    	return valorTotal;
			  	},
			  	vlrParcialConta: () => {
			  		let valorParcial = 10; 

			  		return valorParcial - this.valorTotal;
			  	} 
			}

        })

        Vue.component('mesa3',{
        	template: 	`<div><p>{{ produtos }}</p><ul><li v-for="nomes in mesa3.consumo">{{ nomes.nome }}</li></ul>
							<p>{{ quantidade }}</p><ul><li v-for="quantidades in mesa3.consumo">{{ quantidades.quant }}</li></ul>
							<p>{{ vlrUnit }}</p><ul><li v-for="valores in mesa3.consumo">{{ valores.valor }}</li></ul>
							<p>{{ vlrParcial }} &nbsp; <input type="text" v-model=vlrConta></p>
							<p>{{ vlrTotal }} &nbsp; <input type="number" readonly v-model="vlrConta"></p><hr />
						</div>`,
			
			data: () => {
				return mesa3;
			},

			computed: {
				vlrConta: () => {
					let valor1 = mesa3.consumo[0].valor;
					let valor2 = mesa3.consumo[1].valor; 
					let valor3 = mesa3.consumo[2].valor;

					let quant1 = mesa3.consumo[0].quant;
					let quant2 = mesa3.consumo[1].quant;
					let quant3 = mesa3.consumo[2].quant;

					let total1 = valor1 * quant1;
					let total2 = valor2 * quant2;
					let total3 = valor3 * quant3;

					let valorTotal = total1 + total2 + total3;

			    	return valorTotal;
			  	}
			 
			}

        })

		
		let app = new Vue({

			el: '#app',
			data: {
				tituloApp: 'Acompanhamento de mesas',
				escolhaMesa: 'Escolher a mesa',
				opcoes: ['Mesas', '1', '2', '3'],
				numMesa: 'Mesas'
			}	
		})
	

	</script>   <!-- methods são chamados por eventos js ex: @click, @blur... ="função()" -->  <!-- computed são chamados em v-model="função" -->
				<!-- componentes suportando v-model -->
	
</body>
</html>
