<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div id="app">
		
		<div>	
			<h1>{{ tituloApp }}</h1>
		</div>
		<hr>
		<div id="selecao-mesa">
			<span>{{ escolhaMesa }}
				<select name="select" id="select" @change="Mesas()">
					<option v-for="option in options">{{ option }}</option>
				</select>
			</span>
		</div>
		<div id="mostra-mesa">
			<div v-if="numMesa == 1">
				<mesa1></mesa1>
			</div>	
			<div v-else-if="options == 2">	
				<mesa2></mesa2>
			</div>
			<div v-else>
				<mesa3></mesa3>
			</div>
		</div>

	</div>


	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script>
		
		let produtos = 'Produtos';
		let quantidade = 'Quantidade';
		let vlrUnit = 'Valor unitário';
		let vlrParcial = 'Valor Parcial'
		let vlrTotal = 'Valor Total';
		let numMesa = '';

		let mesa1 = {
			consumo: [
				{
					nome: 'suco maracujá',
					quant: 1,
					valor: 5.50
				},
				{
					nome: 'guaraná coca-cola',
					quant: 1,
					valor: 3.00
				},
				{
					nome: 'feijoada',
					quant: 2,
					valor: 12.00
				}
			],
			numMesa: 1
		};

		let mesa2 = {
			consumo: [
				{
					nome: 'água',
					quantidade: 2,
					valor: 2.50
				},
				{
					nome: 'guaraná fanta-uva',
					quantidade: 2,
					valor: 3.00
				},
				{
					nome: 'porção de frios',
					quantidade: 2,
					valor: 23.50
				}
			],
			numMesa: 2
		};

		let mesa3 = {
			consumos: [
				{
				    nome: 'cerveja brahma',
				   	quantidade: 2,
				    valor: 2.50
				},
				{
				    nome: 'fanta',
				    quantidade: 2,
				    valor: 3.00
				},
				{
				    nome: 'pizza mussarela',
				    quantidade: 1,
				    valor: 23.50
				}
			],
			numMesa: 3
		}

        Vue.component('mesa1',{
        	template: 	`<div><p>{{ produtos }}</p><ul><li v-for="nomes in mesa1.consumo">{{ nomes.nome }}</li></ul>
							<p>{{ quantidade }}</p><ul><li v-for="quantidades in mesa1.consumo">{{ quantidades.quant }}</li></ul>
							<p>{{ vlrUnit }}</p><ul><li v-for="valores in mesa1.consumo">{{ valores.valor }}</li></ul>
							<p>{{ vlrParcial }}:<input type="number" v-model="vlrParcialConta"></p>
							<p>{{ vlrTotal }}:<input type="number" readonly v-model="vlrConta"></p>
						</div>`,
			
			data: () => {
				return mesa1;
			},

			computed: {
				vlrConta: () => {
					let valor1 = mesa1.consumo[0].valor;
					let valor2 = mesa1.consumo[1].valor; 
					let valor3 = mesa1.consumo[2].valor;

					let quant1 = mesa1.consumo[0].quant;
					let quant2 = mesa1.consumo[1].quant;
					let quant3 = mesa1.consumo[2].quant;

					let total1 = valor1 * quant1;
					let total2 = valor2 * quant2;
					let total3 = valor3 * quant3;

					let valorTotal = total1 + total2 + total3;

			    	return valorTotal;
			  	},
			  	vlrParcialConta: () => {
			  		let valorParcial = 10; 

			  		console.log(valorParcial - this.valorTotal);
			  	}
			}

        })

		
		let app = new Vue({

			el: '#app',
			data: {
				tituloApp: 'Acompanhamento de mesas',
				escolhaMesa: 'Escolher a mesa',
				options: [, 1, 2, 3]
			},

			methods: {
				Mesas: () => {
					let selecao = document.getElementById('select');
					let numMesa = selecao.options[selecao.selectedIndex].value;

					return numMesa;
				}
			}	
		})
	

	</script>
	
</body>
</html>
